@use "../../node_modules/modern-normalize/modern-normalize.css";
@use "../../node_modules/github-markdown-css/github-markdown.css";
@use "../../.cache/codehl.css";

:root {
  --focus-colour: #fdf5bf;
  --border-colour: rgb(225, 228, 232);
  --padding-size: 1em;
}

body {
  padding: 1em;
}

@media (prefers-color-scheme: dark) {
  :root {
    --focus-colour: #83782e;
  }

  body {
    color: #c9d1d9;
    background-color: #0d1117;
  }
}

main {
  border: thin solid var(--border-colour);
  border-radius: 0.3em;

  margin: auto;
  max-width: 60em;

  padding: var(--padding-size);
}

header {
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  align-items: baseline;
  column-gap: 0.5em;

  > * {
    margin-top: 0;
    margin-bottom: 0;
  }

  > .spacer {
    flex-grow: 1;
  }

  margin-bottom: var(--padding-size);

  .menu-icon {
    font-size: 130%;
  }
}

.mermaid {
  display: flex;
  justify-content: center;
}

[diff="true"] {
  background-color: var(--focus-colour) !important;
}
