@import "../../node_modules/github-markdown-css/github-markdown.css";
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "../../.cache/codehl.css";

:root {
  --focus-colour: #fdf5bf;
  --border-colour: rgb(225, 228, 232);
}

$padding_size: 1em;

body {
  padding: 1em;
}

#container {
  border: thin solid var(--border-colour);
  border-radius: 0.3em;

  margin: auto;
  max-width: 60em;

  padding: $padding_size;
}

header {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-items: baseline;

  > * {
    margin-top: 0;
    margin-bottom: 0;
  }

  > .spacer {
    flex-grow: 1;
  }

  margin-bottom: $padding_size;
}

#focus {
  background-color: var(--focus-colour) !important;
}
