@use "../../node_modules/modern-normalize/modern-normalize.css";
@use "../../node_modules/github-markdown-css/github-markdown.css";
@use "../../.cache/codehl.css";

:root {
  --focus-colour: #fdf5bf;
  --border-colour: rgb(225, 228, 232);
  --padding-size: 1em;
}

body {
  padding: 1em;
}

@media (prefers-color-scheme: dark) {
  :root {
    --focus-colour: #83782e;
  }

  body {
    color: #c9d1d9;
    background-color: #0d1117;
  }
}

main {
  border: thin solid var(--border-colour);
  border-radius: 0.3em;

  margin: auto;
  max-width: 60em;

  padding: var(--padding-size);
}

