@import "../../node_modules/bootstrap/dist/css/bootstrap-reboot.css";
@import "../../node_modules/highlight.js/styles/github.css";

:root {
  --code-colour: rgb(242, 242, 242);
}

#main {
  margin: auto;
  max-width: 60em;
  $vert_padding: 10em;
  padding-top: $vert_padding / 2;
  padding-bottom: $vert_padding;
}

#main {
  img {
    max-width: 100%;
    height: auto;

    @include md_border();
  }

  ul > li {
    &::before {
      color: var(--highlight-colour);
    }
  }

  pre,
  blockquote {
    width: 100%;
    max-width: inherit;
    overflow-x: scroll;

    background-color: var(--code-colour);
  }

  code {
    background-color: var(--code-colour);
  }
}

